{
  "semi": false,
  "singleQuote": true,
  "arrowParens": "avoid",
  "ignore": [
    "dist",
    "pnpm-lock.yaml",
    "CHANGELOG*.md",
    "packages/compiler-core/src/binding.*",
    "packages/compiler-core/src/wasi-worker*",
    "packages/compiler-core/src/browser.*",
    "packages/compiler-core/src/zeusjs-binding.*"
  ]
}
